.container
{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:90vh;
    align-items:center;
    justify-content:center;
    gap:30px;
    margin-top:
}

body
{
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    margin-left:0px;
    margin-top:0px;
    font-family: 'Raleway', sans-serif;
}


.key
{
    height:75px;
    min-width:440px;
    /* background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    text-align:center;
    line-height:75px;
    cursor:pointer;
    border:2px solid black;
    padding-left:4px;
    padding-right:4px;
    background-image: linear-gradient(#42A1EC, #0070C9);
    font-size:1.75rem;
}

.heading1
{
    font-size:3rem;
}


.heading
{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    margin-bottom:5vh;
    border:2px solid black;
    background:white;
}