.headingmethod
{
    width:100vw;
    display:flex;
    min-height:10vh;
    justify-content:center;
    align-items:center;
    background-color:white;
    border:2px solid black;
}

body
{
    background-color:#9599E2;
    font-family:'raleway',sans-serif;
    margin-left:0px;
    margin-top:0px;
}

.heading1
{
    font-size:3rem;
    text-transform:uppercase;
}

.formouter
{
    min-width:30vw;
    min-height:40vh;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
}
.formcontainer
{
    display:flex;
    width:100vw;
    min-height:80vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:20px;
    font-size:1.75rem;
}

input
{
    height:28px;
}

.hiding
{
    display:none;
}

button
{
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family:sans-serif;
    font-size: 20px;
    letter-spacing: -0.022em;
    line-height: 1.47059;
    /* min-width: 100px; */
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    text-decoration:none;
    align-self:center;
    margin-top:25px;
    width:100px;
    height:35px;
    padding-top:2px;
}

.instr
{
    font-size:1.5rem;
    margin-left:10px;
    margin-top:10px;
}

.heading2
{
    font-size:1.75rem;
}
.instr1
{
    font-size:1.4rem;
    margin-top:10px;
}

.trform
{       
    margin-top:4px;
    font-size:1.5rem;
    margin-left:4px;
    border:2px solid black;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
}

.instr3
{
    margin-bottom:4px;
}