{% extends 'base.html' %}
{% block title %}
    - Affine Cipher
{% endblock %}

{% block content %}

<style>
  .container{
    text-align: justify;
  }

  .form-group, .btn{
    margin-top: 0.3em;
  }

  .hiding{
    display:none;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Instructions:</h3>
      <p>1. Plain text should be alphabetic characters.<br>
        2. Numericals are not allowed in plain text. <br>
        3. Key1 should have multiplicative inverse in modulo 26.</p>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col">
      <form method="POST" action="/decrypt" id="form1">
        <div class="form-group">
          <label for="text">Text:</label>
          <input type="text" name="value" id="Plaintext" style="width: 300px;" class="form-control" placeholder="Enter ciphertext" required>
        </div>
        <div class="form-group">
          <label for="number">key1:</label>
          <input type="number" name="key" style="width: 300px;" class="form-control" id="number1" placeholder="Enter key1" required>
        </div>
        <div class="form-group">
          <label for="number">key2:</label>
          <input type="number" name="key2" style="width: 300px;" class="form-control" id="number2" placeholder="Enter key2" required>
        </div>
        <select name="ciphermethod" class="hiding">
          <option>Affine cipher</option>
      </select>
        <button type="submit" class="btn btn-primary">Decrypt</button>
      </form>
    </div>
  </div><br><br>

  {%if value %}
  <div class="row">
    <div class="col">
      <h4>Encrypted text:</h4>
      <pre><p id="output">{{value}}</p></pre>
    </div>
  </div>
  {% elif err %}
    {{err}}
    {% endif %}
</div>


{% endblock %}
