
    {% extends 'base.html' %}
        {% block title %}
            - Affine Cipher
		{% endblock %}

    {% block content %}
    <style>
        .my-section {
            position: absolute;
            top: 15%;
            left:  10%;
            text-align: left;
        }

        .hiding
        {
            display:none;
        }

    </style>

    <div class="my-section">
        <p>
        <h3>Instructions : </h3>
        
            1. Plain text should be alphabetic characters.<br>
            2. Numericals are not allowed in plain text. <br>
            3. Key1 should have multiplicative inverse in modulo 26.
        
    </p>
</div>  

    <!-- <div class="form-section"> -->
    <form method="POST" action="/encrypt" id="form1">
        <label>Text :  &nbsp;&nbsp;</label><input type="text" name="value" id="Plaintext" required/>
        <br><br>
        <label>Key1 : &nbsp;</label><input type="number" name="key" required/>
        <br><br>
        <label>Key2 : &nbsp;</label><input type="number" name="key2" required/>
        <br><br>
        <select name="ciphermethod" class="hiding">
            <option>Affine cipher</option>
        </select>
        <button>Encrypt</button>
        <button id="bk">Back</button>
    </form>
 
    <div>
        {%if value %}
        <br> <br>
        <span><h5>The Encrypted text for "{{inputvalue}}" using {{ciphermethod}} is : 
        "{{value}}"</h5></span>
        {% elif err %}
        <span>{{err}}</span>
        {% endif %}
    </div>
<!-- </div> -->

    <script>
        let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
            window.location.href="http://127.0.0.1:5000/encrypttext"
            })
    </script>
        {% endblock %}