{% extends 'base.html' %}
{% block title %}
    - Affine Cipher
{% endblock %}

{% block content %}

<style>
  .container{
    text-align: justify;
  }

  .form-group, .btn{
    margin-top: 0.3em;
  }

  .hiding{
    display:none;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Instructions:</h3>
      <p>1. Ciphertext should be alphabetic characters.</p>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col">
      <form method="POST" action="/crypt" id="form1">
        <div class="form-group">
          <label for="text">Ciphertext:</label>
          <input type="text" name="value" id="Ciphertext" style="width: 300px;" class="form-control" placeholder="Enter ciphertext" required>
        </div>
        <select name="ciphermethod" class="hiding">
          <option>Affine cipher</option>
      </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div><br><br>

  {%if value %}
  <div class="row">
    <div class="col">
      <h4>Encrypted text:</h4>
      <pre><p id="output">{{value}}</p></pre>
    </div>
  </div>
  {% elif err %}
    {{err}}
    {% endif %}
</div>


{% endblock %}
