<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='enc.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="headingmethod">
            <div class="heading1">
                Caeser Cipher Encryption
            </div>
            </div>
            <div class="instr">
            <div>
            Instructions : 
            </div>
            <div>Plain text must consist only of alphabets .</div>
            <div>key must consist only of numericals. </div>
            </div>
            </div>
            <div class="formcontainer">
            <div class="formouter">
        <form method="POST" action="/encrypt">
            <label>Plain text : </label><input type="text" name="value" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Caeser cipher</option>
            </select>
            <button>Encrypt</button>
            <button id="bk">Back</button>
        </form>
        <br><br>
        </div>
        <div>
            {%if value %}
            <span>The Encrypted text for "{{inputvalue}}" using {{ciphermethod}} is : </span>
            "{{value}}"
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
    </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/encrypttext"
            })
        </script>
    </body>
</html>