{% extends 'base.html' %}
    {% block title %}
        - Caesar Cipher
    {% endblock %}

{% block content %}
    <style>
        .my-section {
            position: absolute;
            top: 15%;
            left:  10%;
            text-align: left;
        }

        .form-section{
            position: absolute;
            top: 45%;
            left:  40%;
        }

        .hiding
        {
            display:none;
        }

    </style>
    <div class="my-section">
        <p>
        <h3>Instructions : </h3>
        
            1. Plain text should be alphabetic characters.<br>
        
    </p>
    </div>
    <div class="form-section">
        <form method="POST" action="/encrypt">
            <label>Plain text : &nbsp;</label><input type="text" name="value" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Caeser cipher</option>
            </select>
            <button>Encrypt</button>
            <button id="bk">Back</button>
        </form>
        <br><br>
        </div>
        <div>
            {%if value %}
            <span>The Encrypted text for "{{inputvalue}}" using {{ciphermethod}} is : </span>
            "{{value}}"
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
    </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/encrypttext"
            })
        </script>
    {% endblock %}