{% extends 'base.html' %}
{% block logo %}
    - Caesar Cipher
{% endblock %}

{% block content %}

<style>
  .container{
    text-align: justify;
  }

  .form-group, .btn{
    margin-top: 0.3em;
  }

  .hiding{
    display:none;
  }
</style>


<div class="container">
    <div class="row">
      <div class="col">
        <p>
        <h3>Instructions : </h3>
        
            1. Plain text should be alphabetic characters.<br>
        
    </p>
</div>
</div>
<br><br>

<div class="row">
    <div class="col">
        <form method="POST" action="/encrypt">
            <div class="form-group">
                <label for="text">Text:</label>
                <input type="text" name="value" id="Plaintext" style="width: 300px;" class="form-control" placeholder="Enter plaintext" required>
            </div>
            <select name="ciphermethod" class="hiding">
                <option>Caeser cipher</option>
            </select>
            <button type="submit" class="btn btn-primary">Encrypt</button>
      </form>
    </div>
  </div><br><br>

            
            {%if value %}
            <div class="row">
              <div class="col">
                <h4>Encrypted text:</h4>
                <pre><p id="output">{{value}}</p></pre>
              </div>
            </div>
            {% elif err %}
              {{err}}
              {% endif %}
          </div>
          
          
          {% endblock %}
          