{% extends 'base.html' %}
    {% block content %}
    <style>
        /* .box-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px; 
        } */
        .box {
            /* background-color: #ccc; */
            padding: 10px;
            margin-bottom: 5px; /* Add margin between the boxes */
        }
    </style>

    <div class="row box-container">
      <h2> Cryptanalysis</h2>
        <div class="col-md-4 box">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Affine cipher</h5>
              <p class="card-text"> combination of simple substitution cipher and linear equation</p>
              <a href="/affinecrypt" class="btn btn-outline-secondary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 box">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Hill Cipher</h5>
              <p class="card-text">polygraphic substitution cipher using matrix operations</p>
              <a href="/hillcrypt" class="btn btn-outline-secondary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 box">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Shift/Caeser Cipher</h5>
              <p class="card-text">Each alphabet is shifted a certain number of positions</p>
              <a href="/shiftcrypt" class="btn btn-outline-secondary">Select</a>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-4 box">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Caeser Cipher</h5>
                <p class="card-text">Description of Cipher 1</p>
                <a href="/caeserenc" class="btn btn-outline-secondary">Select</a>
              </div>
            </div>
          </div> -->
          <div class="col-md-4 box">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vigenere Cipher</h5>
                <p class="card-text">Shift letters according to a repeating keyword</p>
                <a href="/vigcrypt" class="btn btn-outline-secondary">Select</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 box">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Monoalphabetic Substitution Cipher</h5>
                <p class="card-text">Each alphabet replaced by another unique alphabet</p>
                <a href="/monocrypt" class="btn btn-outline-secondary">Select</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 box">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Transposition Cipher</h5>
                <p class="card-text"> Rearranging the order of characters</p>
                <a href="/transpositioncrypt" class="btn btn-outline-secondary">Select</a>
              </div>
            </div>
          </div>
      </div>
          
	
    {% endblock %}