<html>
    <head>
        <title>Decryption methods</title>
        <link rel="stylesheet" href="{{url_for('static',filename='ab.css')}}">
    </head>
    <body>
        <h1>Decryption Schemes</h1>
        <div class="container">
        <div class="key" id="affine">
            Affine cipher
        </div>
        <div class="key" id="hill">
            Hill cipher
        </div>
        <div class="key" id="shift">
            Shift cipher/Caeser cipher
        </div>
        <div class="key" id="vig">
           Vigenere cipher
        </div>
        <div class="key" id="mono">
            Monoalphabetic Substitution Cipher
         </div>
        <div class="key" id="tr">
            Transposition cipher
        </div>
        <div class="key" id="hm">
            Home Page
        </div>
        </div>
        <script>
            let ob=document.getElementById("affine")
            ob.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/affinedec"
            })
            let ob1=document.getElementById("hill")
            ob1.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/hilldec"
            })
            let ob2=document.getElementById("shift")
            ob2.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/shiftdec"
            })
            let ob3=document.getElementById("vig")
            ob3.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/vigdec"
            })
            let ob4=document.getElementById("tr")
            ob4.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/transpositiondec"
            })
            let ob5=document.getElementById("hm")
            ob5.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/"
            })
            let ob6=document.getElementById("mono")
            ob6.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/monodec"
            })
        </script>
    </body>
</html>