<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='enc.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="headingmethod">
            <div class="heading1">
                Hill Cipher Cryptanalysis
            </div>
            </div>
            <div class="instr">
            <div>
            Instructions : 
            </div>
            <div>Cipher text must consist only of alphabets.</div>
            <div>Plain text must consist only of alphabets.</div> 
            </div>
            </div>
        <div class="formcontainer">
            <div class="formouter">
        <form method="POST" action="/crypt">
            <label>Cipher text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Plain text : </label><input type="text" name="key" required/>
            &nbsp;&nbsp;
            <label>Keysize : </label><input type="number" name="keysize" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Hill cipher</option>
            </select>
            <button>Submit</button>
            <button id="bk">Back</button>
        </form>
    </div>
        <br><br>
        <div>
            {%if value %}
            <span>The key calculated is {{key}} </span>
            {{value}}
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
    </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/cryptanalysis"
            })
        </script>
    </body>
</html>