{% extends 'base.html' %}
        {% block title %}
            - Affine Cipher
		{% endblock %}

    {% block content %}
    <style>
        .my-section {
            position: absolute;
            top: 15%;
            left:  10%;
            text-align: left;
        }

        .hiding
        {
            display:none;
        }

    </style>

<div class="my-section">
    <p>
    <h3>Instructions : </h3>
    
        1. key size = size of key matrix.<br>
        2. key = alphabetic characters only with length key size*2. <br>
        3. plain text must consist only of alphabets.<br>
        4. boguz characters will be added (eg: z, yz, xyz, wxyz) as required
    
</p>
</div>  
            
        <form method="POST" action="/encrypt" id="form1">
            <label>Text : &nbsp;&nbsp;</label><input type="text" name="value" required/>
            <br><br>
            <label>Key : &nbsp;&nbsp;&nbsp;</label><input type="text" name="key" required/>
            <br><br>
            <label>Keysize : </label><input type="number" name="keysize" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Hill cipher</option>
            </select>
            <button>Encrypt</button>
            <button id="bk">Back</button>
        </form>
        </div>
        <br><br>
        <div>
            {%if value %}
            <span>The Encrypted text for "{{inputvalue}}" using {{ciphermethod}} is : </span>
            "{{value}}"
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
    </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/encrypttext"
            })
        </script>
    {% endblock %}