<html>
    <head>
    </head>
    <body>
        <form method="POST" action="/crypt">
            <label>Cipher text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Plain text : </label><input type="text" name="key" required/>
            &nbsp;&nbsp;
            <label>Keysize : </label><input type="number" name="keysize" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Hill cipher</option>
            </select>
            <button>cryptanalysis</button>
        </form>
        <button id="bk">Back</button>
        <br><br>
        <div>
            {%if value %}
            <span>The key calculated is {{key}} </span>
            {{value}}
            {% elif err %}
            valid word is not present in the used wordlist
            {% endif %}
        </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/cryptanalysis"
            })
        </script>
    </body>
</html>