{% extends 'base.html' %}
{% block title %}
    - Hill Cipher
{% endblock %}

{% block content %}

<style>
  .container{
    text-align: justify;
  }

  .form-group, .btn{
    margin-top: 0.3em;
  }

  .hiding{
    display:none;
  }
</style>
<div class="container">
    <div class="row">
      <div class="col">
        <h3>Instructions:</h3>
        <p>1. Ciphertext should consist only of alphabets.<br>
          2. Ciphertext must be a multiple of the key matrix size. <br>
          3. Key size must be equal to size of key matrix.<br>
          4. Key should consist of only alphabetic characters and it's length must (key size)*2.<br>
          5.Key should be necessarily invertible.</p>
      </div>
    </div>
    <br><br>



    <div class="row">
        <div class="col">
          <form method="POST" action="/decrypt">
            <div class="form-group">
              <label for="text">Text:</label>
              <input type="text" name="value" id="Plaintext" style="width: 300px;" class="form-control" placeholder="Enter plaintext" required>
            </div>
            <div class="form-group">
              <label for="text">key:</label>
              <input type="text" name="key" style="width: 300px;" class="form-control" id="number1" placeholder="Enter key" required>
            </div>
            <div class="form-group">
              <label for="number">key-size:</label>
              <input type="number" name="keysize" style="width: 300px;" class="form-control" id="number2" placeholder="Enter keysize" required>
            </div>
            <select name="ciphermethod" class="hiding">
              <option>Hill cipher</option>
          </select>
            <button type="submit" class="btn btn-primary">Decrypt</button>
          </form>
        </div>
      </div><br><br>
    
      {%if value %}
      <div class="row">
        <div class="col">
          <h4>Encrypted text:</h4>
          <pre><p id="output">{{value}}</p></pre>
        </div>
      </div>
      {% elif err %}
        {{err}}
        {% endif %}
    </div>
    
    
    {% endblock %}