{% extends 'base.html' %}
{% block title %}
    - Hill Cipher
{% endblock %}

{% block content %}

<style>
  .container{
    text-align: justify;
    position: absolute;
    top: 100px;
    left: 50px;
  }

  .form-group, .btn{
    margin-top: 0.3em;
  }

  .hiding{
    display:none;
  }
</style>

<div class="container">
    <div class="row">
      <div class="col">
        <h3>Instructions:</h3>
        <p>1. key size = size of key matrix.<br>
          2. key = alphabetic characters only with length key size*2. <br>
          3. plain text must consist only of alphabets.<br>
          4. boguz characters will be added (eg: z, yz, xyz, wxyz) as required.</p>
      </div>
    </div>
  
    <div class="row">
        <div class="col">
        <form method="POST" action="/crypt">
            <div class="form-group">
                <label for="text">Text:</label>
                <input type="text" name="value" id="Plaintext" style="width: 300px;" class="form-control" placeholder="Enter ciphertext" required>
              </div>
              <div class="form-group">
                <label for="text">plaintext:</label>
                <input type="text" name="key" style="width: 300px;" class="form-control" id="number1" placeholder="Enter plaintext" required>
              </div>
              <div class="form-group">
                <label for="number">key-size:</label>
                <input type="number" name="keysize" style="width: 300px;" class="form-control" id="number2" placeholder="Enter keyize" required>
              </div>
            <select name="ciphermethod" class="hiding">
                <option>Hill cipher</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div><br><br>

        <div>
            {%if key %}
            <div class="row">
                <div class="col">
            The key calculated is {{key}}
            </div></div>
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
        
  </div>

        {% endblock %}   