<html>
    <head>
        <title>Project</title>
        <link rel="stylesheet" href="{{url_for('static',filename='ab.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="heading">
        <div class="heading1">Computer Security Project</div>
        </div>
        <div class="container">
        <div class="key" id="enc">
            Encryption
        </div>
        <div class="key" id="dec">
            Decryption
        </div>
        <div class="key" id="crypt">
            Cryptanalysis
        </div>
        </div>
        <script>
            let ob=document.getElementById("enc")
            ob.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/encrypttext"
            })
            let ob1=document.getElementById("dec")
            ob1.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/decrypttext"
            })
            let ob2=document.getElementById("crypt")
            ob2.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/cryptanalysis"
            })
        </script>
    </body>
</html>