{% extends 'base.html' %}
{% block nav %}
{% endblock %}
    {% block content %}
    <main class="px-3">
        <h1>Cryptographic Toolkit.</h1>
        <p class="lead">cryptographic toolkit to encrypt, decrypt and analyse different ciphers</p>
        <p class="col lead">
          <a href="/encrypttext"><button type="button" class="btn btn-outline-dark btn-lg px-4">Encryption</button></a>
          <a href="/decrypttext"><button type="button" class="btn btn-outline-dark btn-lg px-4">Decryption</button></a>
          <a href="/cryptanalysis"><button type="button" class="btn btn-outline-dark btn-lg px-4">Cryptanalysis</button></a>
        </p>
      </main>
    {% endblock %}