<html>
    <head>
    </head>
    <body>
        <form method="POST" action="/crypt">
            <label>Cipher text : </label><input type="text" name="value"/>
            <br><br>
            <label>Plain text : </label><input type="text" name="key"/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Monoalphabetic Substitution cipher</option>
            </select>
            <button>Cryptanalysis</button>
        </form>
        <button id="bk">Back</button>
        <br><br>
        <div>
            {%if value %}
            <span>The Key is : </span>
            {{value}}
            {% else %}
            <span>Enter a valid input</span>
            {% endif %}
        </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/cryptanalysis"
            })
        </script>
    </body>
</html>