{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4" style="color:#0d6efd;">Welcome to Flask Bootstrap!</h1>
  <p class="lead" style="color:#6c757d;">This is a landing page for a Flask web application built using Flask Bootstrap.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">External Link 1</h5>
          <p class="card-text">This is the first external link.</p>
          <a href="#" class="btn btn-primary">Go to Link 1</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">External Link 2</h5>
          <p class="card-text">This is the second external link.</p>
          <a href="#" class="btn btn-primary">Go to Link 2</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">External Link 3</h5>
          <p class="card-text">This is the third external link.</p>
          <a href="#" class="btn btn-primary">Go to Link 3</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}