{% extends 'bootstrap/base.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4" style="color:#0d6efd;">Welcome to Flask Bootstrap!</h1>
  <p class="lead" style="color:#6c757d;">This is a landing page for a Flask web application built using Flask Bootstrap.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">External Link 1</h5>
          <p class="card-text">This is the first external link.</p>
          <a href="#" class="btn btn-primary">Go to Link 1</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">External Link 2</h5>
          <p class="card-text">This is the second external link.</p>
          <a href="#" class="btn btn-primary">Go to Link 2</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">External Link 3</h5>
          <p class="card-text">This is the third external link.</p>
          <a href="#" class="btn btn-primary">Go to Link 3</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


















<!-- <html>
    <head>
        <title>Encryption methods</title>
        <link rel="stylesheet" href="{{url_for('static',filename='ab.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    </head> -->


  <!-- <div class="megacontainer">
        <div class="heading">
        <div class="heading1">Encryption Schemes</div>
        </div>
        <div class="container">
        <div class="key" id="affine">
            Affine cipher
        </div>
        <div class="key" id="hill">
            Hill cipher
        </div>
        <div class="key" id="shift">
            Shift cipher
        </div>
        <div class="key" id="caeser">
            Caeser cipher
        </div>
        <div class="key" id="vig">
           Vigenere cipher
        </div>
        <div class="key" id="monoenc">
            Monoalphabetic Substitution cipher
         </div>
        <div class="key" id="tr">
            Transposition cipher
        </div>
        <div class="key" id="hm">
           Home Page
        </div>
        </div>
    </div>
        <script>
            let ob=document.getElementById("affine")
            ob.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/affine"
            })
            let ob1=document.getElementById("hill")
            ob1.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/hill"
            })
            let ob2=document.getElementById("shift")
            ob2.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/shift"
            })
            let ob3=document.getElementById("vig")
            ob3.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/vig"
            })
            let ob4=document.getElementById("tr")
            ob4.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/transposition"
            })
            let ob5=document.getElementById("hm")
            ob5.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/"
            })
            let ob7=document.getElementById("caeser")
            ob7.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/caeserenc"
            })
            let ob8=document.getElementById("monoenc")
            ob8.addEventListener('click',()=>
            {
                window.location.href="http://127.0.0.1:5000/monoenc"
            })
        </script> -->
        <!-- <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">AES Cipher</h5>
                <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p>
                <a href="#" class="btn btn-primary">Select</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">RSA Cipher</h5>
                <p class="card-text">RSA is a public key cipher that can be used for encryption and digital signatures.</p>
                <a href="#" class="btn btn-primary">Select</a>
              </div>
            </div>
          </div> -->
          <style>
            /* .card {
                font-size: 1.5rem;
                padding: 1rem;
            } */
          </style>

          <div class="container-fluid">
            <div class="row mt-5">
              <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Affine Cipher</h5>
                        <!-- <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p> -->
                        <a href="#" class="btn btn-primary">Select</a>
                      </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title">Hill Cipher</h5>
                <!-- <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p> -->
                <a href="#" class="btn btn-primary">Select</a>
              </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title">Shift Cipher</h5>
                <!-- <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p> -->
                <a href="#" class="btn btn-primary">Select</a>
              </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title">Caeser Cipher</h5>
                <!-- <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p> -->
                <a href="#" class="btn btn-primary">Select</a>
              </div>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title">Vigenere Cipher</h5>
                <!-- <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p> -->
                <a href="#" class="btn btn-primary">Select</a>
              </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title">Monoalphabetic Substitution Cipher</h5>
                <!-- <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p> -->
                <a href="#" class="btn btn-primary">Select</a>
              </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title">Transposition Cipher</h5>
                <!-- <p class="card-text">AES is a symmetric key cipher that can be used for encryption and decryption.</p> -->
                <a href="#" class="btn btn-primary">Select</a>
              </div>
                </div>
              </div>
            </div>
          </div>