<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='enc.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="headingmethod">
            <div class="heading1">
                Transposition Cipher Encryption
            </div>
            </div>
        <form method="POST" action="/encrypt" class="trform">
            <div class="heading2">Rail Fence Cipher</div>
            <div class="instr1">
                <div>Instructions</div>
                <div>Plain Text should consist of only alphabets without spaces</div>
            </div>
            <br><br>
            <label>Plain text : </label><input type="text" name="value" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Rail fence cipher</option>
            </select>
            <button>Encrypt</button>
        </form>
        <br><br>
        <form method="POST" action="/encrypt" class="trform">
            <div class="heading2">Keyless transposition cipher with fixed number of columns</div>
            <div class="instr1">
                <div>Instructions</div>
                <div>Plain Text should consist of only alphabets without spaces</div>
            </div>
            <br><br>
            <label>Plain text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Number of Columns : </label><input type="number" name="key" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>keyless transposition cipher with fixed number of columns</option>
            </select>
            <button>Encrypt</button>
        </form>
        <br><br>
        <form method="POST" action="/encrypt" class="trform">
            <div class="heading2">Permutation transposition cipher</div>
            <div class="instr1">
                <div>Instructions</div>
                <div>Plain Text should consist of only alphabets without spaces</div>
                <div>The Key should be space separated numericals and they should be in the format 
                     (1 2 3 4 ..)</div>
            </div>
            <br><br>
            <label>Plain text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Key : </label><input type="text" name="key" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Permutation transposition cipher</option>
            </select>
            <button>Encrypt</button>
        </form>
        <br><br>
        <form method="POST" action="/encrypt" class="trform">
            <div class="heading2">Combined approach(key+keyless)</div>
            <div class="instr1">
                <div>Instructions</div>
                <div>Plain Text should consist of only alphabets without spaces</div>
                <div>The Key should be space separated numericals and they should be in the format 
                    (1 2 3 4 ..)</div>
            </div>
            <br><br>
            <label>Plain text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Key : </label><input type="text" name="key" required/>
            <br><br>
            <select name="ciphermethod"class="hiding">
                <option>Combined approach(key+keyless)</option>
            </select>
            <button>Encrypt</button>
        </form>
        <button id="bk" style="font-size:1.5rem;margin-left:4px;">Back</button>
        <br><br>
        <div>
            {%if value %}
            <span>The Encrypted text for "{{inputvalue}}" using {{ciphermethod}} is : </span>
            {{value}}
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/encrypttext"
            })
        </script>
    </body>
</html>