<html>
    <head>
    </head>
    <body>
        <form method="POST" action="/decrypt">
            <div>Rail Fence Cipher</div>
            <br><br>
            <label>Cipher text : </label><input type="text" name="value" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Rail fence cipher</option>
            </select>
            <button>decrypt</button>
        </form>
        <br><br>
        <form method="POST" action="/decrypt">
            <div>Keyless transposition cipher with fixed number of columns</div>
            <br><br>
            <label>Cipher text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Number of Columns : </label><input type="number" name="key" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>keyless transposition cipher with fixed number of columns</option>
            </select>
            <button>decrypt</button>
        </form>
        <br><br>
        <form method="POST" action="/decrypt">
            <div>Permutation transposition cipher</div>
            <br><br>
            <label>Cipher text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Key : </label><input type="text" name="key" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Permutation transposition cipher</option>
            </select>
            <button>decrypt</button>
        </form>
        <br><br>
        <form method="POST" action="/decrypt">
            <div>Combined approach(key+keyless)</div>
            <br><br>
            <label>Cipher text : </label><input type="text" name="value" required/>
            <br><br>
            <label>Key : </label><input type="text" name="key" required/>
            <br><br>
            <select name="ciphermethod" class="hiding">
                <option>Combined approach(key+keyless)</option>
            </select>
            <button>decrypt</button>
        </form>
        <button id="bk">Back</button>
        <br><br>
        <div>
            {%if value %}
            <span>The decrypted text for "{{inputvalue}}" using {{ciphermethod}} is : </span>
            {{value}}
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/decrypttext"
            })
        </script>
    </body>
</html>