{% extends 'base.html' %}
{% block title %}
    - Transposition Cipher
{% endblock %}

{% block content %}

<script>
  function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>

<style>
  .container{
    text-align: justify;
  }

  .form-group, .btn{
    margin-top: 0.3em;
  }

  #more {display: none;}

  .hiding{
    display:none;
  }
</style>

<div class="container">
    <div class="row">
      <div class="col">
        <h3>Instructions : </h3>
            <div>Cipher text must consist only of alphabets .</div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col">
        <form method="POST" action="/crypt">
            <div class="form-group">
                <label for="text">Text:</label>
                <input type="text" name="value" id="Ciphertext" style="width: 300px;" class="form-control" placeholder="Enter ciphertext" required>
              </div>

              <div class="form-group">
                <label for="number">block-size:</label>
                <input type="number" name="key" style="width: 300px;" class="form-control" id="number1" placeholder="Enter block size" required>
              </div>
            <select name="ciphermethod" class="hiding">
                <option>Transposition cipher</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    </div><br><br>
    
        <div>
            <!-- <pre> -->
            {%if plaintext %}
            <div class="row">
              <div class="col">
                <p>
                  possible plaintexts are: 
                  <span id="dots">...</span>
                  <span id="more">
                  {% for ptext in plaintext %}
                  
                  
                    <span class="d-inline-block">{{ ptext }}, </span>
                  {% endfor %} 
                  
                </span>
                </p>
                <button onclick="myFunction()" id="myBtn" class="btn btn-dark btn-sm">Read more</button>
              </div>
            </div>
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        <!-- </pre> -->
        </div>
    </div>
        {% endblock %}