<html>
    <head>

    </head>
    <body>
        <form method="POST" action="/crypt">
            <label>Cipher text : </label><input type="text" name="value" required/>
            <br><br>
            <select name="ciphermethod">
                <option>Vigenere cipher</option>
            </select>
            <button>cryptanalysis</button>
        </form>
        <button id="bk">Back</button>
        <br><br>
        <div>
            {%if value %}
            <span>The plain text is : {{ptext}} </span>
            <br><br>
            <span>The key is : {{key}} </span>
            {% elif err %}
            <span>{{err}}</span>
            {% endif %}
        </div>
        <script>
            let u1=document.getElementById('bk')
            u1.addEventListener('click',()=>{
                window.location.href="http://127.0.0.1:5000/cryptanalysis"
            })
        </script>
    </body>
</html>