{% extends 'base.html' %}
{% block title %}
    - Vigenere Cipher
{% endblock %}

{% block content %}

<style>
  .container{
    text-align: justify;
  }

  .form-group, .btn{
    margin-top: 0.3em;
  }

  .hiding{
    display:none;
  }
</style>

<div class="container">
    <div class="row">
      <div class="col">
        <h3>Instructions : </h3>
            <div>Cipher text must consist only of alphabets .</div>
            <div>Key must consist only of alphabets. </div> 
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col">
        <form method="POST" action="/decrypt">
            <div class="form-group">
                <label for="text">Text:</label>
                <input type="text" name="value" id="Ciphertext" style="width: 300px;" class="form-control" placeholder="Enter ciphertext" required>
              </div>
              <div class="form-group">
                <label for="text">key:</label>
                <input type="text" name="key" style="width: 300px;" class="form-control" id="number1" placeholder="Enter key" required>
              </div>
            <select name="ciphermethod" class="hiding">
                <option>Vigenere cipher</option>
            </select>
            <button type="submit" class="btn btn-primary">Decrypt</button>

            <!-- <button id="bk">Back</button> -->
        </form>
    </div>
    </div><br><br>
    
    {%if value %}
    <div class="row">
      <div class="col">
        <h4>Decrypted text:</h4>
        <pre><p id="output">{{value}}</p></pre>
      </div>
    </div>
    {% elif err %}
      {{err}}
      {% endif %}
    </div>
    
    
    {% endblock %}